{#

This file is part of the Sonata package.

(c) Thomas Rabaix <thomas.rabaix@sonata-project.org>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}
{% extends 'SonataPageBundle::base_layout.html.twig' %}

{% block sonata_page_container %}
    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ url('_page_alias_homepage') }}">Home</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="{{ url('sonata_catalog_index') }}">Catalog</a>
                    </li>
                    <li>
                        <a href="{{ url('sonata_news_home') }}">News</a>
                    </li>
                    <li>
                        <a href="{{ url('sonata_media_gallery_index') }}">Gallery</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
    <div class="container">
        {#<div class="row page-header">
            {{ sonata_page_render_container('header', 'global') }}
        </div>#}

        {#{% block sonata_page_breadcrumb %}
            <div class="row">
                {% if sonata_seo_context is not defined %}
                    {% set sonata_seo_context = 'page' %}
                {% endif %}
                {{ sonata_block_render_event('breadcrumb', { 'context': sonata_seo_context, 'current_uri': app.request.requestUri }) }}
            </div>
        {% endblock %}#}

        {% if page is defined %}
            <div class="row">
                {% if page.name != 'global'%}
                    {{ sonata_page_render_container('content_top', 'global') }}
                {% endif %}
                {{ sonata_page_render_container('content_top', page) }}
            </div>
        {% endif %}

        <div class="row">
            {% block page_content %}
                {% if content is defined %}
                    {{ content|raw }}
                {% else %}
                    {% set content = block('content') %}
                    {% if content|length > 0 %}
                        {{ content|raw }}
                    {% elseif page is defined %}
                        {{ sonata_page_render_container('content', page) }}
                    {% endif %}
                {% endif %}
            {% endblock %}
        </div>

        {% if page is defined %}
            <div class="row">
                {{ sonata_page_render_container('content_bottom', page) }}

                {% if page.name != 'global'%}
                    {{ sonata_page_render_container('content_bottom', 'global') }}
                {% endif %}
            </div>
        {% endif %}

        <footer class="row">
            {{ sonata_page_render_container('footer', 'global') }}
        </footer>
        <footer class="row">
            <div class="row page-footer well">                
                <div class="col-sm-3">                
                    <h2>Demo</h2>
                    <p class="handcraft"></p>
                    <p><a href="http://twitter.com/" target="_blank">Follow on Twitter</a></p>
                </div>
                <div class="col-sm-2 col-sm-offset-3"></div>
                <div class="col-sm-2">                
                    <h4>ABOUT</h4>
                    <ul class="links">
                        <li><a href="{{ url('_page_alias_legal-notes') }}">Legal notes</a></li>
                    </ul>
                </div>
                <div class="col-sm-2">                
                    <h4>COMMUNITY</h4>
                    <ul class="links">
                        <li><a href="{{ url('_page_alias_contact-us') }}">Contact us</a></li>
                    </ul>
                </div>
        </footer>
    </div>
    {#<div class="container">
        <hr>
        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright © Your Website 2017</p>
                </div>
            </div>
        </footer>
    </div>#}
{% endblock %}
